.header {
  background: black;
  padding: 20px;
  a {
    padding: 20px;
    background: linear-gradient(to right, #f6b400 0%, #fd3e22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-line: overline;
    border-bottom: solid 0px #f6b400;
    &:hover {
      border-bottom: solid 0px #fd3e22;
    }
  }
}
